<!DOCTYPE html> 

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  


  

</head>
<body>

<div class="main_content" style="background-color:#f2f2f2;padding: 15px "> 
  <h2 id="heading_pd">Your VincentStore account has been created </h2>
  

    
    
    
      
      <div class="product"  style="padding: 15px;background-color: white;border-radius:5px;padding: 5px;box-shadow: 1px 1px 5px #cccccc;">
        <div class="row">
         
          <div class="col-12" style="">
            
            
            <p></p>
            
              
              <tr>
                
                <td><h5 style="font-weight: bold">Name: {{fir_nam}} {{las_nam}}</h5></td>
            
                <td><h5 style="font-weight: bold">Username: {{usrn}}</h5></td>
                <td><h5>Sex: {{sex_choice}}</h5></td>
                <td><h5>Birth: {{birth_date}}</h5></td>
                <td><h5>Phone: {{phone_no}}</h5></td>
                <td><h5>Email: {{email_address}}</h5></td>
                <td><h5>Address: {{home_address}}</h5></td>
                
                
              </tr>
              
              <br>
            
              
          </div>
        </div>
      </div>
      <br>
        

   
    </div>
    </div>
  </div>
  </div>
</div> 

<h6>Please don't reply this email </h6>
<h6>© 2019 Copyright: VincentStore</h6>
<body>