<!DOCTYPE html> 

<html lang="en">
<head>
	<meta charset="utf-8"/>
 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  


  

</head>
<body>
  <div class="main_body">
	<!--Nav bar-->
  <nav class="navbar  navbar-expand-sm navbar-dark" style="background-color: #0d0d0d;">
  <a class="navbar-brand" style="color:white" href="http://localhost:5000/staff_profile_page" method = "POST"><img src="/static/img/adminpage_title.jpg"  style=" height: 100% ; max-height: 30px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon" style="color:white"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
    <li class="nav-item">
      
       <a class="nav-link" style="color:white"  href="http://localhost:5000/staff_order_page" method = "POST">Orders</a>
     
    </li>
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" style="color:#b3e6ff;font-weight: bold;" herf="#" id="navbardrop "data-toggle="dropdown">Product</a>
      <div class="dropdown-menu">
        
        <a class="dropdown-item" href="http://localhost:5000/staff_drink" style="color:#004de6; font-weight: bold;" method = "POST">Drink</a>

        
       
        <a class="dropdown-item" href="http://localhost:5000/staff_food"method = "POST">Food</a>

        <a class="dropdown-item"  href="http://localhost:5000/staff_update_new" method = "POST">New product</a>
        <a class="dropdown-item"  href="http://localhost:5000/staff_image_new" method = "POST">New photo</a>
        
      </div>
    </li>
    <li class="nav-item">
      
       <a class="nav-link" style="color:white"  href="http://localhost:5000/staff_delivery_page" method = "POST">Delivery</a>
     
    </li>
    </UL>
    <div class=" navbar-collapse w-100 order-3 dual-collapse2" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      
       <a class="nav-link" style="color:white;  border: 2px solid white; border-radius: 5px; font-weight: bold; text-align: center; " method = "POST">CONFIDENTIAL</a>
     
    </li>
  </div>
  </div>  
  
  </nav>


<!--header-->

<header class="header_bg_staff">

    <h1 class="page_head" style="color: white; "> Drink </h1>
    
</header>

  {{test1}}
    <br>
    <div class="main_content container-fluid">
    <nav class="navbar sticky-top navbar-expand-* navbar-dark "  style="background-color: rgba(0,0,0,0.82);  border-radius:5px; padding: 5px; box-shadow: 1px 1px 5px #b3b3b3;  ">
        <a class="navbar-brand" style="color:white; padding: 5px"id="filter_bar_head" >Filter: {{Drink_filter}}</a>
 
        <button class="navbar-toggler  " type="button" data-toggle="collapse" data-target="#filter_bar">
        <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="filter_bar">

          <div class="btn-group " style="margin-top: 5px; padding: 5px;">
            <form action = "http://localhost:5000/staff_drink" method = "POST">
              <button class="btn btn-secondary nav-item" style="border-bottom:5px; box-shadow: 0px 0px 0px #a6a6a6;" onclick="">All</button>
            </form>
          </div>

          <div class="btn-group " style="margin-top: 5px; padding: 5px;">
            <form action = "http://localhost:5000/staff_drink_page_drink_sub" method = "POST">
              <input type="text" name="sub" class="sub"  value=beer>
              <button class="btn btn-secondary nav-item" style="border-bottom:5px; box-shadow: 0px 0px 0px #a6a6a6;" onclick="">Beer</button>
            </form>
          </div>  
          <div class="btn-group " style="margin-top: 5px; padding: 5px;">
            <form action = "http://localhost:5000/staff_drink_page_drink_sub" method = "POST">
              <input type="text" name="sub" class="sub"  value=carbonated_drink>
              <button class="btn btn-secondary nav-item" style="border-bottom:5px; box-shadow: 0px 0px 0px #a6a6a6;" onclick="">Carbonated drink</button>
            </form>
          </div>

          <div class="btn-group " style="margin-top: 5px; padding: 5px;">
            <form action = "http://localhost:5000/staff_drink_page_drink_sub" method = "POST">
              <input type="text" name="sub" class="sub"  value=coffee>
              <button class="btn btn-secondary nav-item" style="border-bottom:5px; box-shadow: 0px 0px 0px #a6a6a6;" onclick="">Coffee</button>
            </form>
          </div>
          
          <div class="btn-group " style="margin-top: 5px; padding: 5px;">
            <form action = "http://localhost:5000/staff_drink_page_drink_sub" method = "POST">
              <input type="text" name="sub" class="sub"  value=juice>
              <button class="btn btn-secondary nav-item" style="border-bottom:5px; box-shadow: 0px 0px 0px #a6a6a6;" onclick="">Juice</button>
            </form>
          </div>
          <div class="btn-group " style="margin-top: 5px; padding: 5px;">
            <form action = "http://localhost:5000/staff_drink_page_drink_sub" method = "POST">
              <input type="text" name="sub" class="sub"  value=milk>
              <button class="btn btn-secondary nav-item" style="border-bottom:5px; box-shadow: 0px 0px 0px #a6a6a6;" onclick="">Milk</button>
            </form>
          </div>

          <div class="btn-group " style="margin-top: 5px; padding: 5px;">
            <form action = "http://localhost:5000/staff_drink_page_drink_sub" method = "POST">
              <input type="text" name="sub" class="sub"  value=tea>
              <button class="btn btn-secondary nav-item" style="border-bottom:5px; box-shadow: 0px 0px 0px #a6a6a6;" onclick="">Tea</button>
            </form>
          </div>
          
          <div class="btn-group " style="margin-top: 5px; padding: 5px;">
            <form action = "http://localhost:5000/staff_drink_page_drink_sub" method = "POST">
              <input type="text" name="sub" class="sub"  value=water>
              <button class="btn btn-secondary nav-item" style="border-bottom:5px; box-shadow: 0px 0px 0px #a6a6a6;" onclick="">Water</button>
            </form>
          </div>  

          

          <form action = "http://localhost:5000/staff_search_drink_ID" method = "POST">
          <div class="btn-group " style="margin-top: 21px; padding: 5px;">
            
            <div class="input-group mb-3">
              
                
                <input type="number" class="form-control" placeholder="Product ID" aria-label="Search" aria-describedby="basic-addon2" style="height: 37px;" name="search_drink">
                <div class="input-group-append">
                  <button class="btn btn-primary" style="box-shadow: 0px 0px 0px #a6a6a6;  height: 37px;" type="submit">Search</button>
                </div>
              
            </div>
          
          </div>
          </form>

      
        </nav>

  <!-- content -->
  <div class="row ">
    <div class="col-12" >
      
    </div>
  </div>
  
  
  
  <br>

  <div class="row ">

    <div class="col-12" >
      <h2 id="heading_pd" style="color: red">{{error}}</h2>
      <h2 id="heading_pd">{{Drink_filter}}</h2>
      
      <div id="list_of_product">
      {% for item in drink_list %}
      
      <div class="product"  style="padding: 5px;">
        <div class="row">
          <div class="col-sm-4 col-xl-2  ">
            <img src="/static/img/product/{{item[0]}}.jpeg" class="product_photo" style=" height: 100% ;width:100%; max-width: 200px; max-height: 200px">
          </div>
          <div class="col-sm-8 col-xl-10  ">
        
    
            
              <tr>
                <td><h5>Product ID: {{item[0]}}</h5></td>
                <td><h4 style="font-weight: bold">{{item[1]}}</h4></td>
                <td><h6>Brand: {{item[2]}}</h6></td>
                <td><h6>Drink catagory: {{item[6]}}</h6></td>
                <td><h6>In stock: {{item[4]}}</h6></td>
                <td><h5 style="font-weight: bold;color:#0039e6">Price: ${{item[3]}}</h5></td>
                <div class="row" style="padding-left: 15px">
                <form action = "http://localhost:5000/staff_update_page_drink" method = "POST">
                  <button class="btn btn-primary">Update</button>&nbsp;
                  
                 
                  <input type="text" value="{{item[0]}}" name="product_id" class="product_id_text">
                  <input type="text" value="{{item[1]}}" name="product_name" class="product_id_text">
                  <input type="text" value="{{item[2]}}" name="product_brands" class="product_id_text">
                  <input type="text" value="{{item[6]}}" name="product_category" class="product_id_text">
                  <input type="number" value="{{item[4]}}" name="product_stock" class="product_id_text">
                  <input type="number" value="{{item[3]}}" name="product_price" class="product_id_text">
                </form>

                <form action = "http://localhost:5000/staff_update_page_stock_price" method = "POST">
                  <button class="btn btn-primary">Update stock & price</button>&nbsp;
                  
                 
                  <input type="text" value="{{item[0]}}" name="product_id" class="product_id_text">
                  <input type="text" value="Drink" name="product_main_category" class="product_id_text">
                  <input type="number" value="{{item[4]}}" name="product_stock" class="product_id_text">
                  <input type="number" value="{{item[3]}}" name="product_price" class="product_id_text">
                </form>
              </div>
              </tr>
              <br>
            
          </div>
        </div>
      </div>
      <br>
        {% endfor %}
          
          
          
          

      


      
    </div>
  </div>
    
  </div>


  
  

</div> 

<!-- Footer -->
<div class="main_body">
<footer class="page-footer font-small container-fluid" style="background-color:#cccccc; color:#4d4d4d" >
  
  <div class="row" style="padding-left: 5px">
    <div class = "col-2" style="">
     
      
    </div>
     
     <div class = "col-2">
      <p></p>
      <p style="font-weight: bold; font-size: 12px">Orders</p>
      <p style="font-size: 12px">
        <a class="" style="color:#4d4d4d" href="http://localhost:5000/staff_order_page" method = "POST">All</a><br>
      
        <a class="" style="color:#4d4d4d"  href="http://localhost:5000/staff_order_page_drink" method = "POST" >Drink</a><br>
        <a class="" style="color:#4d4d4d"  href="http://localhost:5000/staff_order_page_food" method = "POST" >Food</a><br>
      </p>
    </div>
     <div class = "col-2">
      <p></p>
      <p style="font-weight: bold; font-size: 12px">Products</p>
      <p style="font-size: 12px">
         <a class="" style="color:#4d4d4d" href="http://localhost:5000/staff_drink" method = "POST">Drink</a><br>
        <a class="" style="color:#4d4d4d" href="http://localhost:5000/staff_food" method = "POST">Food</a><br>
        <a class="" style="color:#4d4d4d" href="http://localhost:5000/staff_update_new" method = "POST">New product</a><br>
        <a class="" style="color:#4d4d4d" href="http://localhost:5000/staff_image_new" method = "POST">New photo</a><br>
      </p>
    </div>
     <div class = "col-2">
      <p></p>
      <p style="font-weight: bold; font-size: 12px">Account</p>
      <p style="font-size: 12px">
        <a class="" style="color:#4d4d4d"  href="http://localhost:5000/staff_profile_page" >Profile</a><br>
        
      </p>
    </div>
      <div class = "col-2">
      <p></p>
      <p style="font-weight: bold; font-size: 12px">Delivery</p>
      <p style="font-size: 12px">
        <a class="" style="color:#4d4d4d"  href="http://localhost:5000/staff_delivery_page" >Schedule</a><br>
        
      </p>
    </div>
    <div class = "col-2" style="">
      
    </div>
  </div>
  
  

</footer>
</div>

<button class="float_btn btn-secondary"  onclick="gototop()">^</button>

<footer class="page-footer font-small " style="background-color:#333333; color:white;font-size:12px">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">CONFIDENTIAL, FOR STAFF ONLY
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright: VincentStore
  </div>
  

</footer>
<!-- Footer -->
</div>


<script type="text/javascript">
  
 

  $(".product_id_text").hide();
  $(".sub").hide();


  function gototop() {
    $("html, body").animate({ scrollTop: 0 }, 300);
  
}
  
  
</script>

</body>


</html>